* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Secret Mana";
  src: url("../webfonts/secretOfMana/manaspc.ttf") format("truetype");
}
@font-face {
  font-family: "Ganon";
  src: url("../webfonts/returnOfGanon/retganon.ttf") format("truetype");
}
@font-face {
  font-family: "Lunch";
  src: url("../webfonts/lunchTime/lunchds.ttf") format("truetype");
}
@font-face {
  font-family: "Goose";
  src: url("../webfonts/goose/Cocogoose.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("../webfonts/lato/Lato-Regular.ttf") format("truetype");
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 2em 4em 2em;
  align-items: flex-start;
  background-image: url(../assets/background-mobile-1-scaled.png), url(../assets/background-mobile-2-scaled.png);
  background-position: left bottom, right, top;
  background-repeat: no-repeat;
}
header #event-desc {
  background-color: white;
  font-size: 1em;
  margin: 1em 0;
}

.icon-1 {
  width: 64px;
  height: 64px;
  background-image: url(../assets/Site-Icons-scaled.png);
  animation: sprite1 1s steps(10) infinite;
}
@keyframes sprite1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -640px 0;
  }
}
.icon-2 {
  width: 64px;
  height: 64px;
  background-image: url(../assets/Site-Icons-scaled.png);
  animation: sprite2 1s steps(10) infinite;
}
@keyframes sprite2 {
  0% {
    background-position: 0 -64px;
  }
  100% {
    background-position: -640px -64px;
  }
}
.icon-3 {
  width: 64px;
  height: 64px;
  background-image: url(../assets/Site-Icons-scaled.png);
  animation: sprite3 1s steps(10) infinite;
}
@keyframes sprite3 {
  0% {
    background-position: 0 -128px;
  }
  100% {
    background-position: -640px -128px;
  }
}
.icon-4 {
  width: 64px;
  height: 64px;
  background-image: url(../assets/Site-Icons-scaled.png);
  animation: sprite4 1s steps(10) infinite;
}
@keyframes sprite4 {
  0% {
    background-position: 0 -192px;
  }
  100% {
    background-position: -640px -192px;
  }
}
.icon-5 {
  width: 64px;
  height: 64px;
  background-image: url(../assets/Site-Icons-scaled.png);
  animation: sprite5 1s steps(10) infinite;
}
@keyframes sprite5 {
  0% {
    background-position: 0 -192px;
  }
  100% {
    background-position: -640px -192px;
  }
}

nav {
  height: 80px;
  width: 100%;
  background-image: url(../assets/background-mobile-nav.png), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
}

.btn-1 {
  background-color: #ea4f36;
  border-radius: 4px;
  width: 60%;
  border: none;
  padding: 1em;
  margin: 2em 0 0 0;
}

.burger {
  background-image: url(../assets/burger-btn-scaled.png);
  width: 64px;
  height: 64px;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/tiled-background.png);
  padding: 3em 0;
}
.program h3 {
  margin: 1em;
}
.program ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
  padding: 1em;
}
.program ul li {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 1em;
  align-items: center;
  font-size: small;
  border-image: url(../assets/frame-1-scaled.png);
  border-image-slice: 30;
  border-image-width: 32px 32px;
}
.program ul li p {
  color: #fb6b1d;
  overflow-wrap: anywhere;
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speakers h3 {
  margin: 2em 0;
}
.speakers ul {
  list-style: none;
}
.speakers ul li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1em;
}
.speakers ul li img {
  border-image: url(../assets/frame-1-scaled.png);
  border-image-slice: 30;
  border-image-width: 32px 32px;
  padding: 1em;
}
.speakers ul .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-image: url(../assets/frame-1-scaled.png);
  border-image-slice: 30;
  border-image-width: 32px 32px;
  padding: 1em;
  overflow-wrap: anywhere;
}
.speakers ul .info p {
  font-size: small;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.about p,
.about h1,
.about h2 {
  text-align: center;
}
.about h2 {
  margin-top: 4em;
}
.about #event-desc {
  margin: 5em 0;
}

.other-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.other-events h3 {
  text-align: center;
}
.other-events p {
  text-align: center;
  overflow-wrap: anywhere;
}
.other-events-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e222f;
  padding: 4em;
}
.partners #partners {
  color: white;
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em;
}

.theme-pixel p {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
}
.theme-normal p {
  font-family: "Lato", "Courier New", Courier, monospace;
}

.theme-pixel h2,
.theme-pixel h3,
.theme-pixel h4,
.theme-pixel h5 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-normal h2,
.theme-normal h3,
.theme-normal h4,
.theme-normal h5 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #2e222f;
}

.theme-pixel header {
  background-color: #eeee;
}
.theme-normal header {
  background-color: white;
}
.theme-pixel header h1 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #ea4f36;
}
.theme-normal header h1 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #ec5242;
}
.theme-pixel header #intro-msg {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #ea4f36;
}
.theme-normal header #intro-msg {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #ec5242;
}
.theme-pixel header #event-desc {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
}
.theme-normal header #event-desc {
  font-family: "Lato", "Courier New", Courier, monospace;
}
.theme-pixel header #event-info h2 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-normal header #event-info h2 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-pixel header #event-info p {
  font-family: "Lunch", "Courier New", Courier, monospace;
}
.theme-normal header #event-info p {
  font-family: "Goose", "Courier New", Courier, monospace;
}

.theme-pixel .program {
  background-color: #2e222f;
}
.theme-normal .program {
  background-color: #272a31;
}
.theme-pixel .program h3 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: white;
}
.theme-normal .program h3 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: white;
}
.theme-pixel .program h4 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #ea4f36;
}
.theme-normal .program h4 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #ec5242;
}
.theme-pixel .program .activity-desc {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
  color: white;
}
.theme-normal .program .activity-desc {
  font-family: "Lato", "Courier New", Courier, monospace;
  color: white;
}
.theme-pixel .program .btn-1 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: white;
}
.theme-normal .program .btn-1 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: white;
}

.theme-pixel .speakers {
  background-color: #eeee;
}
.theme-normal .speakers {
  background-color: white;
}
.theme-pixel .speakers h3 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-normal .speakers h3 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-pixel .speakers h4 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-normal .speakers h4 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-pixel .speakers h5 {
  font-family: "Lunch", "Courier New", Courier, monospace;
  color: #ea4f36;
}
.theme-normal .speakers h5 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #ec5242;
}
.theme-pixel .speakers .desc {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-normal .speakers .desc {
  font-family: "Lato", "Courier New", Courier, monospace;
  color: #2e222f;
}

/*# sourceMappingURL=main.css.map */
