* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Secret Mana";
  src: url("/webfonts/secretOfMana/manaspc.ttf") format("truetype");
}
@font-face {
  font-family: "Ganon";
  src: url("/webfonts/returnOfGanon/retganon.ttf") format("truetype");
}
@font-face {
  font-family: "Goose";
  src: url("/webfonts/goose/Cocogoose.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/webfonts/lato/Lato-Regular.ttf") format("truetype");
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  padding: 0 20px;
  align-items: flex-start;
}
header #event-desc {
  font-size: 8px;
  margin: 20px 0;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.program h3 {
  margin: 50px;
}
.program ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
}
.program ul li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.3);
  width: 95%;
  border-radius: 4px;
  padding: 12px;
  align-items: center;
  font-size: small;
}

.icon-1 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/Site-Icons-scaled.png);
  animation: sprite1 1s steps(10) infinite;
}
@keyframes sprite1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -640px 0;
  }
}
.icon-2 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/Site-Icons-scaled.png);
  animation: sprite2 1s steps(10) infinite;
}
@keyframes sprite2 {
  0% {
    background-position: 0 -64px;
  }
  100% {
    background-position: -640px -64px;
  }
}
.icon-3 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/Site-Icons-scaled.png);
  animation: sprite3 1s steps(10) infinite;
}
@keyframes sprite3 {
  0% {
    background-position: 0 -128px;
  }
  100% {
    background-position: -640px -128px;
  }
}
.icon-4 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/Site-Icons-scaled.png);
  animation: sprite4 1s steps(10) infinite;
}
@keyframes sprite4 {
  0% {
    background-position: 0 -192px;
  }
  100% {
    background-position: -640px -192px;
  }
}
.icon-5 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/Site-Icons-scaled.png);
  animation: sprite5 1s steps(10) infinite;
}
@keyframes sprite5 {
  0% {
    background-position: 0 -192px;
  }
  100% {
    background-position: -640px -192px;
  }
}

nav {
  height: 80px;
  width: 100%;
}

.theme-pixel header {
  background-color: #ececec;
}
.theme-normal header {
  background-color: #ececec;
}
.theme-pixel header h1 {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
  color: #ea4f36;
}
.theme-normal header h1 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #ec5242;
}
.theme-pixel header #intro-msg {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
  color: #ea4f36;
}
.theme-normal header #intro-msg {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #ec5242;
}
.theme-pixel header #event-desc {
  font-family: "Ganon", "Courier New", Courier, monospace;
}
.theme-normal header #event-desc {
  font-family: "Lato", "Courier New", Courier, monospace;
}
.theme-pixel header #event-info h2 {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-normal header #event-info h2 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #2e222f;
}
.theme-pixel header #event-info p {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
}
.theme-normal header #event-info p {
  font-family: "Goose", "Courier New", Courier, monospace;
}

.theme-pixel .program {
  background-color: #2e222f;
}
.theme-normal .program {
  background-color: #272a31;
}
.theme-pixel .program h3 {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
  color: white;
}
.theme-normal .program h3 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: white;
}
.theme-pixel .program h4 {
  font-family: "Secret Mana", "Courier New", Courier, monospace;
  color: #ea4f36;
}
.theme-normal .program h4 {
  font-family: "Goose", "Courier New", Courier, monospace;
  color: #ec5242;
}
.theme-pixel .program .activity-desc {
  font-family: "Ganon", "Courier New", Courier, monospace;
  color: white;
}
.theme-normal .program .activity-desc {
  font-family: "Lato", "Courier New", Courier, monospace;
  color: white;
}

/*# sourceMappingURL=main.css.map */
