@use './base' as *;
@use './layout' as *;
@use './components' as *;
@use './themes/' as *;

h1 {
  @include doTheme($themes) {
    $text-color-main: themed('textColor');
    $backround-color-main: themed('backgroundColor');

    color: $text-color-main;
    background-color: $backround-color-main;
  }
}
