$main-theme-color: #ea4f36;
$dark-background-color: #303030;

%generalPadding {
  padding-left: 24px;
  padding-right: 24px;
}

@mixin pixelBorder() {
  border: solid transparent; // need this to work on chorme!!!
  border-image: url(../assets/frame-1-scaled.png);
  border-image-slice: 30;
  border-image-width: 32px 32px;
}

@mixin chessBorder($slice: 8, $size: 16px) {
  border: solid transparent;
  border-image: url(../assets/frame-2-scaled.png);
  border-image-slice: $slice;
  border-image-width: $size $size;
}

@mixin sectionTitle($size: 56px, $height: 64px, $color: $color_main_orange) {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin robotoTitle($sice, $height, $color) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: $sice;
  line-height: $height;
  color: $color;
}

@mixin flexCenter($direction:column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin projectParagraph($sice: 16px, $height: 24px, $color: $color_third_text) {
  font-style: normal;
  font-weight: normal;
  font-size: $sice;
  line-height: $height;
  color: $color;
}

@mixin desktopResolution {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin customButtonIcon($path, $sizeX, $sizeY) {
  background-image: url($path);
  vertical-align: bottom;
  display: inline-block;
  width: $sizeX;
  height: $sizeY;
  background-repeat: no-repeat;
  margin-left: 10px;
}
