@use '../utils/'as *;
@use '../themes/'as *;

%small-image-size {
  background-size: cover;
  min-width: 300px;
  min-height: 250px;
}

header {
  &.about {
    @include flexCenter;

    align-items: center;

    & p,
    h1,
    h2 {
      text-align: center;
    }

    h2 {
      margin-top: 4em;
    }

    #event-desc {
      margin: 5em 0;
      padding: 1em;
      background-color: white;
      font-size: 0.8em;
      border: solid rgb(0, 0, 0, 0.1) 1px;
    }

    .contact {
      @include flexCenter;

      p {
        font-size: 0.8em;
        text-align: center;
      }

      a {
        text-align: center;
        color: black;

        @include doTheme($themes) {
          $font: themed('secondFont');

          font-family: $font;
        }
      }
    }
  }

  box-shadow: 0 2px 1px rgb(228, 223, 223);
}

.logo {
  @include flexCenter;

  .logo-p {
    text-align: center;
    width: 70%;
    font-size: 0.8em;
    font-weight: bold;
    padding: 1em;
  }

  padding: 5em 0;

  &-h2 {
    text-align: center;
  }

  & .logo-frame {
    border: 2px rgba($color: grey, $alpha: 0.2) solid;
    border-radius: 4px;
    padding: 1em 4em;
  }

  & .event-logo {
    width: 128px;
    height: 128px;
    padding: 3em;
  }

  box-shadow: 0 2px 1px rgb(228, 223, 223);
}

.other-events {
  @include flexCenter;

  padding: 2em 1em;

  h3 {
    text-align: center;
  }

  &-p {
    text-align: center;
    overflow-wrap: anywhere;
    font-size: 0.8em;
  }

  &-img {
    @include flexCenter;

    list-style: none;

    & li {
      @include flexCenter;

      margin: 1em;
      width: 100%;

      .other-events-h4 {
        text-align: center;
        color: white;
        font-size: 1.2em;
      }

      .other-events-p {
        font-size: 1em;
        color: white;
        font-weight: bold;
      }

      &#event-1 {
        @extend %small-image-size;

        background-image: linear-gradient(rgb(238, 117, 17, 0.5), rgb(238, 117, 17, 0.5)), url(../assets/crowd-1.jpeg);
      }

      &#event-2 {
        @extend %small-image-size;

        background-image: linear-gradient(rgb(238, 117, 17, 0.5), rgb(238, 117, 17, 0.5)), url(../assets/crowd-2.jpeg);
      }
    }
  }
}

@include desktopResolution {
  %large-image-size {
    background-size: cover;
    width: 40vw;
    height: 35vh;
  }

  .other-events-img {
    @include flexCenter(row);

    #event-1 {
      @extend %large-image-size;

      background-image: linear-gradient(rgb(238, 117, 17, 0.5), rgb(238, 117, 17, 0.5)), url(../assets/crowd-1.jpeg);
    }

    #event-2 {
      @extend %large-image-size;

      background-image: linear-gradient(rgb(238, 117, 17, 0.5), rgb(238, 117, 17, 0.5)), url(../assets/crowd-2.jpeg);
    }
  }
}
