@use '../base'as *;
@use '../themes'as *;
@use '../utils/'as *;

header {
  @include flexCenter();

  padding: 10em 2em 4em 2em;
  align-items: flex-start;
  background-image: url(../assets/background-mobile-1-scaled.png), url(../assets/background-mobile-2-scaled.png);
  background-position: left bottom, right, top;
  background-repeat: no-repeat;

  h1 {
    &.text-clip {
      $property: text;

      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../../assets/texture_864w.jpg");
      //filter: hue-rotate(20deg);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: $property;
    }
  }

  #event-desc {
    border: 2px solid white;
    font-size: 0.5em;
    margin: 1em 0;
    background-color: #f7f7f7;
  }

  #event-info {
    font-size: 0.8em;
  }
}
