@use '../utils/'as *;
@use '../components/'as *;

.program {
  @include flexCenter();

  h3 {
    margin: 2em 0 0.5em 0;
  }

  ul {
    @include flexCenter();

    gap: 1em;
    list-style: none;
    padding: 1em;
    align-items: normal;

    li {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      align-items: center;
      font-size: small;

      p {
        overflow-wrap: anywhere;
        font-weight: bold;
        color: white;
        padding: 1em;
      }
    }
  }
}

@include desktopResolution {
  .program {
    h3 {
      font-size: 2em;
    }

    ul {
      @include flexCenter(row);

      padding: 0 10%;

      li {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr;
        align-items: center;
        justify-items: center;
        max-width: 300px;
        min-width: 160px;
        height: 210px;

        p {
          text-align: center;
          font-size: 1em;
        }

        h4 {
          font-size: 1.2em;
          text-align: center;
        }
      }
    }
  }
}

.theme-pixel {
  .program {
    background-image: url(../assets/tiled-background.png);
  }

  .program-element {
    @include pixelBorder;
  }
}

.theme-normal {
  .program {
    background-image: url(../assets/tiled-background-2.png);
  }
}
