@use '../utils/'as *;

.theme-pixel {
  .speaker-info {
    @include flexCenter();
    @include pixelBorder;

    padding: 1em;
    overflow-wrap: anywhere;
  }

  .speaker-img {
    @include pixelBorder;
  }
}

.theme-normal {
  .speaker-info {
    @include flexCenter();

    padding: 1em;
    overflow-wrap: anywhere;
  }
}

.speakers {
  @include flexCenter;

  h3 {
    margin: 2em 0 0.5em 0;
  }

  ul {
    list-style: none;

    li {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 1em;

      .speaker-img {
        padding: 1em;
        background-color: violet;
      }
    }

    .speaker-info {
      @include flexCenter();

      align-items: flex-start;
      padding: 1em;
      overflow-wrap: anywhere;

      h5 {
        font-style: italic;
      }

      hr {
        color: rgb(194, 194, 194, 0.5);
        margin: 0.5em 0 1em 0;
      }

      p {
        font-size: small;
      }
    }
  }
}
