body {
  background: #131415;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-1 {
  width: 320px;
  height: 320px;
  background-image: url(/assets/Site-Icons-scalet.png);
  transform: scale(0.25);
  animation: go 1s steps(10) infinite;
}

@keyframes go {
  100% {
    background-position: -3200px 0;
  }
}
