@use '../utils'as *;

$sprite-path: url(../assets/Site-Icons-scaled.png);
$logos-sheet-path: url(../assets/LogoSpriteSheet-export.png);
$logos-event: url(../assets/event-logo-scaled.png);

%small-logo-size {
  background-image: $logos-sheet-path;
  width: 91px;
  height: 22px;
  display: block;
  background-size: 100%;
  opacity: 0.5;
}

%icon-size {
  width: 64px;
  height: 64px;
  background-image: $sprite-path;
}

.icon {
  &-1 {
    @extend %icon-size;

    @include spriteAnimation("sprite1", 0, 0, -640px, 0);

    animation: sprite1 1s steps(10) infinite;
  }

  &-2 {
    @extend %icon-size;

    @include spriteAnimation("sprite2", 0, -64px, -640px, -64px);

    animation: sprite2 1s steps(10) infinite;
  }

  &-3 {
    @extend %icon-size;

    @include spriteAnimation("sprite3", 0, -128px, -640px, -128px);

    animation: sprite3 1s steps(10) infinite;
  }

  &-4 {
    @extend %icon-size;

    @include spriteAnimation("sprite4", 0, -192px, -640px, -192px);

    animation: sprite4 1s steps(10) infinite;
  }

  &-5 {
    @extend %icon-size;

    @include spriteAnimation("sprite5", 0, -256px, -640px, -256px);

    animation: sprite5 1s steps(10) infinite;
  }
}

.logo {
  &-1 {
    @include spriteSheetElement(0, 0);

    @extend %small-logo-size;
  }

  &-2 {
    @include spriteSheetElement(0, -64px);

    @extend %small-logo-size;
  }

  &-3 {
    @include spriteSheetElement(0, -128px);

    @extend %small-logo-size;
  }

  &-4 {
    @include spriteSheetElement(0, -192px);

    @extend %small-logo-size;
  }

  &-5 {
    @include spriteSheetElement(0, -256px);

    @extend %small-logo-size;
  }
}

.event-logo {
  background-image: $logos-event;
  width: 64px;
  height: 64px;
  background-size: 100%;
}

@include desktopResolution {
  %large-logo-size {
    background-image: $logos-sheet-path;
    width: 136px;
    height: 32px;
    display: block;
    background-size: 100%;
    opacity: 0.5;
  }

  .logo {
    &-1 {
      @extend %large-logo-size;
    }

    &-2 {
      @extend %large-logo-size;
    }

    &-3 {
      @extend %large-logo-size;
    }

    &-4 {
      @extend %large-logo-size;
    }

    &-5 {
      @extend %large-logo-size;
    }
  }
}

.face-icon {
  background-image: url("../assets/facebook.svg");
  width: 16px;
  height: 16px;
  filter: white;
}

.twit-icon {
  background-image: url("../assets/twitter.svg");
  width: 16px;
  height: 16px;
  fill: white;
}
