@use '../utils' as *;

nav {
  height: 80px;
  width: 100%;
  background-image:
    url(../assets/background-mobile-nav.png),
    linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  position: fixed;
  z-index: 2;

  #nav-logo {
    display: none;
  }

  #nav-desktop-menu {
    display: none;
  }
}

@include desktopResolution {
  nav {
    @include flexCenter(row);

    justify-content: space-between;
    background-image: none;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    filter: grayscale(0);

    #burger {
      display: none;
    }

    #nav-logo {
      display: block;
      margin-left: 10%;
    }

    #nav-desktop-menu {
      display: block;
      list-style: none;
      margin-right: 10%;

      @include flexCenter(row);

      li {
        padding: 1em;
        font-weight: bold;

        &:hover {
          color: $main-theme-color;
        }
      }
    }
  }
}
