@use '../vendors/fonts' as *;

$themes: (
  pixel: (
    backgroundColor: white,
    mainTextColor: #ea4f36,
    secondTextColor: #9babb2,
    ligthTextColor: white,
    darkTextColor: #2e222f,
    ligthBackgroundColor: #ececec,
    darkBackgroundColor: #2e222f,
    mainFont: 'Secret Mana',
    secondFont: 'Ganon',
  ),
  normal: (
    backgroundColor: white,
    mainTextColor: #ec5242,
    secondTextColor: #272a31,
    ligthTextColor: white,
    darkTextColor: #2e222f,
    ligthBackgroundColor: #ececec,
    darkBackgroundColor: #272a31,
    mainFont: 'Lato',
    secondFont: 'Goose',
  ),
);
